.navigation-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 10vh;
  background-color: #228b22;

  a {
    padding: 30px;
    text-decoration: none;
    color: #fff;

    &:hover {
      color: #ff7b31;
    }
  }
}
